{% extends 'base.html' %}


{% load gravatar %}

   {% block title %}
{{ company.name }}
{% endblock %}
{% block content %}



 <div class="container" style="
    background-color: white;
    width: auto;
">
      <div class="row">

        <div class="span12">
 <div class="extraneous-non-semantic-markup" style="
    margin: 0 80px 20px 80px;
">

<p>
Lorem ipsizzle dolor fo shizzle my nizzle my shizz, bow wow wow adipiscing you son of a bizzle. Nullizzle sapizzle velit, aliquet fo shizzle mah nizzle fo rizzle, mah home g-dizzle, tellivizzle the bizzle, tellivizzle vel, sure. Pellentesque eget tortor. Sed eros. Nizzle sheezy break yo neck, yall dapibus turpis you son of a bizzle izzle. Mauris pellentesque nibh sizzle that's the shizzle. Boom shackalack izzle gangster. Fizzle pimpin' rhoncizzle funky fresh. In hizzle habitasse yippiyo dictumst. Go to hizzle dapibizzle. Fo shizzle my nizzle fo shizzle my nizzle urna, pretizzle dizzle, cool ac, eleifend vitae, nunc. Yo things. Shiznit sempizzle velit cool shizznit.
</p>
	</div>
	</div>
      </div>
</div>


{% endblock %}
