{% extends 'base.html' %}


{% load gravatar %}

   {% block title %}
{{ company.name }}
{% endblock %}
{% block content %}



 <div class="container" style="
    background-color: white;
    width: auto;
">
      <div class="row">

        <div class="span12">
 <div class="extraneous-non-semantic-markup" style="
    margin: 0 80px 20px 80px;
">

<p>

    {{ full_aboutus.content }}
    {% if user.is_staff %}
          <a href="/admin/ignite/meta_info/">[edit]</a>
      {% endif %}
</p>
	</div>
	</div>
      </div>
</div>


{% endblock %}
