{% extends 'base.html' %}


{% load gravatar %}

   {% block title %}
{{ company.name }}
{% endblock %}
{% block content %}

 <div class="container" style="
    background-color: white;
    width: auto;
    margin-bottom: 20px;
">
      <div class="row" style="
    margin: 0;
">
        <div class="span1">
          <div class="extraneous-non-semantic-markup">
          </div>
        </div>
  <div class="span2">
          <div class="extraneous-non-semantic-markup">
            <a href="#" class="thumbnail">
                  <img src="{{ company.get_logo }}" alt="260x180" style="width: 260px; max-height: 180px;" >
                </a>
          </div>
        </div>
  <div class="span5">
          <div class="extraneous-non-semantic-markup">
            <h2><a href="{{ company.get_url|safe }}">{{ company.name }}</a></h2>
            <p>{{ company.one_sentence_description }}</p>
            <div class="tags"><span>

                {{ company.category }}
            </span> </div>
          </div>
        </div>
        <div class="span3">
           <div class="extraneous-non-semantic-markup" style="margin-top: 20px"><a href="{{ company.get_web  }}" class="btn btn-primary btn-large">Learn more »</a></div>
        </div>
      </div>
    </div><!-- /container -->


    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action >
      <div class="hero-unit" style="display: none;">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div-->

      <!-- Example row of columns -->
      <div class="row">

        <div class="span8">
        <div class="extraneous-non-semantic-markup">
          <h2>Product</h2>
          <p>{{ company.description }} </p>
          <!--p><a class="btn" href="#">View details »</a></p-->
            <p></p>
                        <p></p>
                        <p></p>
                        <p></p>

        </div>

        <div class="extraneous-non-semantic-markup">
          <h2>News</h2>
          <p>{% if company.news %} {{ company.news }} {% else %} Nothing newsworthy. {% endif %} </p>
          <!--p><a class="btn" href="#">View details »</a></p-->
            <p></p>
                        <p></p>
                        <p></p>
                        <p></p>

        </div>

            {% if  company.funding %}
                <div class="extraneous-non-semantic-markup">
                  <h2>Funding</h2>
                  <p>

                      {{ company.funding }}
                  </p>
                </div>

            {% endif %}
         </div>
        <div class="span4">
        <div class="extraneous-non-semantic-markup">
          <h2>Overview</h2>
          <ul class="overview-fields">
            <li><span class="li-field">Location</span><span class="li-value">{{ company.address }}</span></li>
            <li><span class="li-field">Web</span><a href="{{ company.get_web  }}"><span class="li-value">{{ company.website }}</span></a></li>
            <li><span class="li-field">Category</span><span class="li-value">
                <a href="{{ company.category.get_url|safe }}">
                {{ company.category.name }}
                </a>
            </span></li>
            <li><span class="li-field">Founded</span><span class="li-value">{{ company.founding_year }}</span></li>
          </ul>
          <!--p><a class="btn" href="#">View details »</a></p-->
        </div>
        <div class="extraneous-non-semantic-markup">
          <h2>Founders & Team</h2>

            {% for founder in team %}
            <div class="media">
              <a class="pull-left" href="#">

                  <img src="{% gravatar_for_email founder.email 64 %}" style="width: 64px;"/>


              </a>
              <div class="media-body">
                <h4 class="media-heading">{{ founder.name }}</h4>
                {{ founder.bio }}
              </div>
            </div>

            {% endfor %}

          <!--p><a placeholderass="btn" href="#">View details »</a></p-->
        </div>
        </div>
      </div>


    </div> <!-- /container -->

{% endblock %}
