{% extends 'base.html' %}

{% block content %}



 <div class="container">
      <div class="row" style="
    margin: 0;
    padding-top: 20px;
">

      <!-- Example row of columns -->
      <div class="row">
        <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Register</strong> or login to start doing cool things.
        </div>
        <div class="span12">
            <div class="extraneous-non-semantic-markup" style="
    margin: 0 80px 20px 80px;
">
              <h2>Companies you will find here</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details »</a></p>
            </div>        

<style>
.hp-company-column.span6 {
background-color: white;
margin: 0;
padding: 0 6px 0 6px;
}
.hp-company-column.left {
border-right: 3px solid #dfebf7;
}
.hp-company {
margin: 10px 0 10px 0;
height: 150px;
}
.hp-company h2 {
font-size: 25px;
}
</style>
      <div class="xxxextraneous-non-semantic-markup" style="
    background-color: white;
">


        <div class="hp-company-column left span6">
            <div class="extraneous-non-semantic-markup">
      {% for company in companies %}



        <div class="hp-company span6">
          <div class="span2">  <img src="{{ company.get_logo }}" style="max-width: 170px;"/></div>
          <div class="span4">
              <a href="{{ company.get_url }}"> <h2>  {{ company.name }}</h2>  </a>

              {{ company.one_sentence_description }}
          </div>
        </div>



     {% endfor %}


<!-- make odd -->
<div class="hp-company span6">
          <div class="span2">  <img src="http://humblefiles.startups.vn/our-humble-logo/8e7836f4-4e2f-49db-8131-281c9f162d7a.jpg" style="max-width: 170px;"></div>
          <div class="span4">
              <a href="/company/1-startup-me/"> <h2>  Startup Me</h2>  </a>

              Start me up, and up, and up, and up
          </div>
        </div>
<!-- end -->


     
            </div>
        </div>



        <div class="hp-company-column span6">
            <div class="extraneous-non-semantic-markup">
      {% for company in companies %}



        <div class="hp-company span6">
          <div class="span2">  <img src="{{ company.get_logo }}" style="max-width: 170px;"/></div>
          <div class="span4">
              <a href="{{ company.get_url }}"> <h2>  {{ company.name }}</h2>  </a>

              {{ company.one_sentence_description }}
          </div>
        </div>



     {% endfor %}

            </div>
        </div>
        
        <div class="clear" style=" clear: both; "></div>
      </div>


            <div class="extraneous-non-semantic-markup" style="
    border-top: 3px solid #dfebf7;
">
                <p style="
    text-align: center;
"> <a class="btn btn-primary btn-large">See more startups</a> </p>        
            </div>

        </div>
        
      </div>



</div></div>


{% endblock %}
