<!DOCTYPE html>
<html>

{% include "module/v2head.html" %}
<body>
{% include "module/v2-nav.html" %}
 <div class="container">

{% block main %}


     {% endblock %}
     </div>

 <div class="language">LANGUAGE
            <ul class="list-unstyled">
                <li class="active"><a href=""><span class="glyphicon icon-en"></span></a>
                </li>
                <li><a href=""><span class="glyphicon icon-vi"></span></a>
                </li>
            </ul>
        </div>
{% include "module/v2-bottomscript.html" %}
</body>
</html>